<p><%=@marcador%></p>

<form action='/puntoParaJugador1' method="post">
	<button type="submit" value="jugador1">Punto para jugador 1</button> 
</form>

<form action='/puntoParaJugador2' method="post">
	<button type="submit" value="jugador2">Punto para jugador 2</button> 
</form>

<form action='/reiniciar' method="post">
	<button type="submit" value="reiniciar">Reiniciar Juego</button> 
</form>
